@font-face {
  font-family: "DINNextLTArabic-Medium";
  src:
    url("font/DINNextLTArabic-Regular.woff2") format("woff2");
}


  body {
      direction: rtl;
    font-family: "DINNextLTArabic-Medium";
    background: #f7f9fc;
    color: #333;
    margin: 0;
    padding: 20px;
  }
body .flex-col{
    display: flex;    justify-content: space-between;
}

  .quiz-container{
    max-width: 650px;
    margin: 0 auto;
    background: #fff;
    padding: 3px 30px;
    border-radius: 12px;
      border-top-left-radius: 0;
       border-top-right-radius: 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);padding-bottom: 26px;
  }
.flex-col {
    max-width: 650px;
    margin: 0 auto;
    background: #fff;
    padding: 25px 30px;
    border-radius: 12px;
      border-bottom-left-radius: 0;
       border-bottom-right-radius: 0;
    background: #00454B;
  }

  h2 {
color: #fff;    margin-bottom: 25px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 6px;
  }

  input[type="text"], input[type="email"] {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }

  .question {
    margin-bottom: 20px;
  }

  .question h3 {
    margin-bottom: 10px;
  }

  .options label {
    display: block;
    background: #f2f2f2;
    margin: 5px 0;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
  }

  .options input {
    margin-right: 10px;
  }

  .options label:hover {
    background: #e8e8e8;
  }

  button {
    font-family: "DINNextLTArabic-Medium";
    display: block;
    margin: 25px auto 0;
    background-color: #00454B;
    color: white;
    font-size: 16px;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  button:hover {
      background-color: #fff;
    color: #00454B;
  }

 .feedback {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
    background: #eef6ff;
    border: 1px solid #cce0ff;
    border-radius: 8px;
    padding: 15px;
    display: none;
    text-align: right;
    padding: 25px 15px;
}

